/* Project 4 - Virtual Pet - Kaylin Francisco */

body {
    background-color: beige;
}

#petContainer {
    text-align: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: black;
    font-family: bold, sans-serif;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

#hungerStatus, #playStatus, #energyStatus {
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
}

#pet {
    width: 400px;
    height: 400px;
    object-fit: contain;
    transition: transform 0.3s;
}

#petStatus {
    position: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px;
    font-size: 18px;
    left: 50%;
    bottom: 10px;
}

#controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

#controls button{
    padding: 25px 30px;
    font-size: 18px;
    cursor: pointer;
}

